// NHS.UK frontend styles
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Buying catalogue library styles
@import 'node_modules/buying-catalogue-components/app/styles/main';

// Application styles
.float-right {
  float: right;
}

.even-table {
  .bc-c-data-text {
    margin: 0;
  }

  th,
  td {
    padding: 8px !important;
    vertical-align: middle;

    &:first-child {
      padding-left: 0 !important;
    }

    &:last-child {
      padding-right: 0 !important;
    }
  }

  th {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}
