{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/button/macro.njk' import button %}
{% from 'components/action-link/macro.njk' import actionLink %}
{% from 'components/bc-table/macro.njk' import bcTable %}
{% from './components/checked-statement.njk' import checkedStatement %}


{% block body %}
  <div class="nhsuk-width-container" data-test-id="organisation-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": "Go back"
      }) }}
    </div>
  
    <h1 data-test-id="org-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ organisationName }}</h1>
    <p data-test-id="org-page-description" class="nhsuk-heading-l nhsuk-u-font-size-22">These are the details for the organisation and its users.</p>

    <h2 data-test-id="organisation-details-subheading">Organisation details</h2>

    <dl class="nhsuk-summary-list nhsuk-u-padding-margin-5">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Organisation name
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ organisationName }}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          ODS code
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ odsCode }}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Primary Role ID
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ primaryRoleId }}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Business address
        </dt>
        <dd class="nhsuk-summary-list__value">
          {% for line in address %}
            <div data-test-id="org-page-address-{{ loop.index }}">{{ line }}</div>
          {% endfor %}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Contact
        </dt>
        <dd class="nhsuk-summary-list__value">
          <a data-test-id="edit-org-button" href="{{ editOrgButtonHref }}" class="float-right nhsuk-u-margin-left-2">Change</a>
          <div data-test-id="agreement-signed-statement">
            {% if agreementSigned %}
              Organisation End User Agreement has been signed
            {% else %}
              Organisation End User Agreement has not been signed
            {% endif %}
          </div>
        </dd>
      </div>
    </dl>
  
    <h2>User accounts</h2>
    <p>These are the user accounts for {{ organisationName }}.</p>

    <div data-test-id="add-user-button">
      {{ actionLink({
        text: "Add new user",
        href: addUserButtonHref
      }) }}
    </div>

    <div class="nhsuk-u-font-size-19">
      {{ bcTable({
        columnInfo: [
          {
            "data": "Name",
            "link": true
          },
          {
            "data": "Telephone number"
          },
          {
            "data": "Email address"
          },
          {}
        ],
        data: users,
        columnClass: "nhsuk-grid-column-one-quarter"
      })}}
    </div>

    <h2>Related organisations</h2>
    <p>These are the organisations {{ organisationName }} can create orders for.</p>

    <div data-test-id="add-organisation-button">
      {{ actionLink({
        text: "Add an organisation",
        href: "/admin/organisations/proxy/" + organisationId
      }) }}
    </div>

    <div id="related-org-table" class="nhsuk-u-font-size-19">
      {{ bcTable({
        columnInfo: [
          {
            "data": "Organisation name"
          },
          {
            "data": "ODS code"
          },
          {}
        ],
        data: relatedOrgs,
        columnClass: "nhsuk-grid-column-one-quarter"
      })}}
    </div>
  </div>
{% endblock %}
