{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/button/macro.njk' import button %}
{% from 'components/label/macro.njk' import label %}
{% from 'components/view-data-text/macro.njk' import viewDataText %}
{% from 'components/text-field/macro.njk' import textField %}
{% from '../../common/components/table.njk' import table %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="add-user-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": "./",
        "text": "Back"
      }) }}
    </div>

    <h1 data-test-id="add-user-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
    <h2 data-test-id="add-user-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">{{ description }}</h2>

    <h3 data-test-id="org-name-subheading" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">{{ orgNameSubheading }}</h3>
    {{ viewDataText({
      dataTestId: "org-name",
      classes: "nhsuk-u-margin-bottom-9",
      data: orgName
    }) }}

    <form method="post" action="{{ submitActionUrl }}">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {% for question in questions %}
            <div class="nhsuk-u-margin-bottom-4">
              {{ textField({
                question: question
              }) }}
            </div>
          {% endfor %}

          <div data-test-id="add-user-button" class="nhsuk-u-margin-top-9">
            {{ button({
              text: addUserButtonText,
              classes: "nhsuk-u-margin-bottom-9"
            }) }}
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
