{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/hint/macro.njk' import hint %}
{% from 'components/bc-button/macro.njk' import bcButton %}
{% from 'components/bc-error-summary/macro.njk' import bcErrorSummary %}
{% from 'components/radiobutton-options/macro.njk' import radiobuttonOptions %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="add-proxy-organisation-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": "/admin/organisations/" + organisation.organisationId,
        "text": "Go back"
      }) }}
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {% if (errors and errors.errorList and errors.errorList.length > 0) %}
          {{ bcErrorSummary({
            errors: errors.errorList
          }) }}
        {% endif %}
        <form method="POST">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {% set mainAdviceHtml = "<h1 class=\"nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3\">Which organisation are you looking for?</h1>" %}
          {% if errors %}
            {% set mainAdviceHtml = "<h1 class=\"nhsuk-u-margin-bottom-3\">Which organisation are you looking for?</h1>" %}
          {% endif %}
          {{
            radiobuttonOptions({
              question: {
                id: "relatedOrganisationId",
                mainAdviceHtml: mainAdviceHtml,
                additionalAdvice: "Select the organisation you want " + organisation.name + " to act on behalf of.",
                options: unrelatedOrgsRadio,
                error: errors
              }
            })
          }}

          {{ bcButton({
              dataTestId: "submit-button",
              type: "submit",
              text: "Continue"
          })}}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
