{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/button/macro.njk' import button %}
{% from 'components/checkboxes/macro.njk' import checkboxes %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="edit-organisation-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": "Go back"
      }) }}
    </div>
  
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="edit-org-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">Edit {{ organisationName }}</h1>
        <p data-test-id="edit-org-page-description" class="nhsuk-heading-l nhsuk-u-font-size-22 nhsuk-u-margin-bottom-9">Change the Organisation End User Agreement status for this organisation.</p>
      </div>
    </div>

    <dl class="nhsuk-summary-list nhsuk-u-padding-margin-5">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Organisation name
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ organisationName }}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          ODS code
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ odsCode }}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Primary Role ID
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ primaryRoleId }}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Business address
        </dt>
        <dd class="nhsuk-summary-list__value">
          {% for line in address %}
            <div data-test-id="org-page-address-{{ loop.index }}">{{ line }}</div>
          {% endfor %}
        </dd>
      </div>
    </dl>

    <form method="post" action="{{ saveCatalogueAgreementPostAction }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    
      <div data-test-id="catalogue-agreement-checkbox" class="nhsuk-u-margin-bottom-9">
        {{ checkboxes({
          checked: agreementSigned,
          items: [{
            id: "catalogue-agreement-checkbox",
            name: "catalogueAgreementSigned",
            value: 'catalogueAgreementSigned',
            text: "Organisation End User Agreement has been signed",
            checked: agreementSigned
          }]
        }) }}
      </div>

      <div data-test-id="save-button">
        {{ button({
          text: "Save",
          classes: "nhsuk-u-margin-bottom-9"
        }) }}
      </div>
    </form>
  </div>
{% endblock %}
