{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/button/macro.njk' import button %}


{% block body %}
  <div class="nhsuk-width-container" data-test-id="view-user-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": "Go back"
      }) }}
    </div>
  
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-u-margin-top-7" data-test-id="view-user-page-title" class="">{{ userName }} {{ title }}</h1>
      </div>
    </div>

    <dl class="nhsuk-summary-list nhsuk-u-padding-margin-5">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          {{ orgHeading }}
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ organisationName }}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          {{ nameHeading }}
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ userName }}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          {{ phoneNumberHeading }}
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ phoneNumber }}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          {{ emailAddressHeading }}
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ emailAddress }}
        </dd>
      </div>
    </dl>

    <div class="nhsuk-grid-row">
      <form method="post" action="{{ changeAccountStatusFormAction }}">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div data-test-id="change-account-status-button" class="nhsuk-grid-column-one-quarter">
          {{ button({
            text: changeAccountStatusButtonText,
            classes: "nhsuk-u-margin-bottom-9"
          }) }}
        </div>
      </form>
    </div>
  <div>
{% endblock %}
