{% from 'components/tag/macro.njk' import tag %}

{% macro table(params) %}
  <div data-test-id="table">
    {% if params.columnInfo %}
      <div data-test-id="table-headings" class="nhsuk-grid-row nhsuk-u-margin-1 nhsuk-u-padding-bottom-3 bc-t-border-bottom--grey-3">
        {% for column in params.columnInfo %}
          <div data-test-id="column-heading" class="nhsuk-u-padding-1 nhsuk-u-font-weight-bold {{ params.columnClass }}">{{ column.data }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% for row in params.data %}
      <div data-test-id="table-row-{{ loop.index0 }}" class="nhsuk-grid-row nhsuk-u-margin-1 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bc-t-border-bottom--grey-3">
        {% for dataPoint in row %}
          {% if dataPoint.href %}
            <a class="nhsuk-u-padding-1 {{ params.columnClass }}" href="{{ dataPoint.href }}">{{ dataPoint.data }}</a>
          {% elif dataPoint.tag %}
            {{ tag({
              dataTestId: dataPoint.tag.dataTestId,
              text: dataPoint.tag.text,
              classes: dataPoint.tag.classes
            }) }}
          {% else %}
            <div class="nhsuk-u-padding-1 {{ params.columnClass }}">{{ dataPoint.data }}</div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endmacro %}
