{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/button/macro.njk' import button %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="select-org-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": "Back"
      }) }}
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="select-org-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <h2 data-test-id="select-org-page-description" class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-9">{{ description }}</h2>

        <h3 data-test-id="organisation-ods-code-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">{{ odsCodeHeading }}</h3>
        <div data-test-id="organisation-ods-code" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">{{ odsCode }}</div>
        <h3 data-test-id="organisation-name-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">{{ organisationNameHeading }}</h3>
        <div data-test-id="organisation-name" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">{{ organisationName }}</div>
        <h3 data-test-id="organisation-address-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">{{ addressHeading }}</h3>
        <div data-test-id="organisation-address" class="nhsuk-u-margin-bottom-5">
          {% for line in address %}
            <div data-test-id="organisation-address-{{ loop.index }}" class="nhsuk-u-font-size-19">{{ line }}</div>
          {% endfor %}
        </div>
        <h3 data-test-id="organisation-primary-role-id-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-2">{{ primaryRoleIdHeading }}</h3>
        <div data-test-id="organisation-primary-role-id" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">{{ primaryRoleId }}</div>
        <form method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <div data-test-id="select-org-button">
            {{ button({
              text: selectOrgButtonText,
              classes: "nhsuk-u-margin-bottom-9"
            }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
